<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list">
      <td (click)="onEdit(emp)">{{ emp.empCode }} - {{ emp.fullName }}</td>
      <td (click)="onEdit(emp)">{{ emp.position }}</td>
      <td (click)="onEdit(emp)">{{ emp.mobile }}</td>
      <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>